{% extends 'base.html' %}

{% block content %}
    <form action="/result" method="post">
        <label for="interest">I feel like...</label>
        <select id="interest" name="interest">
            <option value="Learn">Learning</option>
            <option value="Fun">Having fun</option>
            <option value="Creative">Creative</option>
            <option value="Chill">Chilling</option>
        </select>
        <button type="submit">Find Activity</button>
    </form>

    {% if activity %}
        <div class="activity-info">
            <h2 class="activity-name">{{ activity['activity'] }}</h2>
            <p><strong>Interest Type:</strong> {{ interest }}</p>
            <p><strong>Number of Participants:</strong> {{ participants }}+</p>
        </div>
    {% endif %}

    {% if wikipedia_summary %}
        <div class="wikipedia-info">
            <h3>Wikipedia Summary:</h3>
            <p>{{ wikipedia_summary }}</p>
            {% if wikipedia_link %}
                <a href="{{ wikipedia_link }}" target="_blank">Read more on Wikipedia</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}


